# Python
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Migraciones
migrations/

# Logs
*.log